body{
    background: black;
    color: white;
background-image: url(Fond.jpg);}

h1{
    text-decoration: underline;

}
p{color: red;}
img { 
    width: 50%;
    height:50% ; 
    object-fit: cover;}
    
    